# build output
dist

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# custom folders
dev_notes/

# folders containining assets & large media files
public/assets/audio/
public/assets/fonts/
public/assets/images/
public/assets/pdfs/
public/assets/video/

# misc
keybase.txt