---
let twitterHandle = "@iamthelabhras";
let twitterHandleLink = "https://twitter.com/iamthelabhras";
let telephoneNumber = "(267 - 225 - 1471)";
let telephoneNumberLink = "tel:267-335-1471";
let email = "working@larrymg.me";
let github = "iamthelabhras";
---

<header id="header__resume">
  <a
    href="/assets/pdfs/resume-mac_gabhann_labhras_larry--LARRYMG_ME.pdf"
    title="Links to: Printer-friendly, condensed PDF of Labhras (Larry) Mac Gabhann's resume."
    target="_blank"
    id="header__pdf_link"
    ><img src="/assets/images/my_work/resume/pdf.svg" id="header__pdf_icon" />
  </a>
  <h1>
    <a
      href="https://forvo.com/word/labhrás/#ga"
      title="Links to: A native Irish speaker pronouncing 'Labhrás'."
      target="_blank">Labhrás</a
    >
    (Larry)
    <span class="clean_break_on_wrap"
      ><a
        href="https://forvo.com/word/mac_gabhann/#ga"
        title="Links to: A native Irish speaker pronouncing 'Mac Gabhann'."
        target="_blank">Mac Gabhann</a
      >
    </span>
  </h1>
  <div class="header__contact_info">
    <a
      title="Links to: Labhrás (Larry) Mac Gabhann's Twitter profile."
      href="https://twitter.com/iamthelabhras"
      target="_blank"
    >
      <img src="/assets/images/my_work/resume/twitter.svg" />
      <span>@iamthelabhras</span>
    </a>
    <a
      title="Links to: Labhrás (Larrry) Mac Gabhann's cellphone."
      href="tel:267-225-1471"
    >
      <img src="/assets/images/my_work/resume/phone.png" />
      <span>(267) - 225 - 1471</span>
    </a>
    <a
      title="Links to: Labhrás' (Larry) Mac Gabhann's e-mail adddress."
      href="mailto:working@larrymg.me"
    >
      <img src="/assets/images/my_work/resume/email.png" />
      <span>working@larrymg.me</span>
    </a>
    <a
      title="Labhrás (Larry) Mac Gabhann's GitHub profile & repos."
      href="https://github.com/iamthelabhras"
      target="_blank"
    >
      <img src="../../assets/images/icons/iconmonstr-github.svg" />
      <span>iamthelabhras</span>
    </a>
  </div>
</header>
