---
import Bullets from "./ResumeBullets.astro";
import Bullet from "./ResumeBullet.astro";
---

<h3>Peak Performance</h3>
<Bullets>
  <Bullet>I enjoy thinking about processes & how they can be improved.</Bullet>
</Bullets>
