---
import ResumeSection from "./ResumeSection.astro";
---

<ResumeSection sectionID="summary" sectionName="summary">
  <p>
    UI/UX-FOCUSED FRONT-END WEB DEVELOPER, gradually working my way deeper into
    the stack. My code takes a <a
      href="https://leanweb.dev/ebook/modern-best-practices/"
      title="Links to: 'Modern Best Practices' section of Chris Ferdinandi's The Lean Web."
      target="_blank">fundamentals-first</a
    > approach to delighting end users. My development philosophy emphasizes the
    importance of blending evergreen & emerging technologies to create process-driven,
    reliant, & maintainable solutions to perennial problems, optimized for change
    & deletability. I believe in continuous learning, making people laugh, & building
    things (real) people can use. I love <a
      href="https://astro.build"
      title="Links to: Astro framework's homepage."
      target="_blank">Astro</a
    > 🚀.
  </p>
</ResumeSection>
