---
import Bullets from "./ResumeBullets.astro";
import Bullet from "./ResumeBullet.astro";
// Last updated: 1/31/23.
let latestDiscovery = "Kutiman";
let latestDiscoveryLink = "https://www.youtube.com/watch?v=Fb-duXsah2k";
---

<h3>Music</h3>
<Bullets>
  <Bullet>
    I love
    <a
      title="Links to: Labhras' Liked & Shared Spotify Playlist."
      href="https://open.spotify.com/playlist/6UWriLPcxPkx1XKFpHBvf5?si=e1IEtP3lTvKl53BuBNUrsA&nd=1"
      target="_blank">discovering new bands</a
    >
    & expanding my musical horizons.
  </Bullet>
  <Bullet>
    My latest musical discovery is: <span class="clean_break_on_wrap"
      ><a
        class="clean_break_on_wrap"
        title="Links to: Kutiman's 'A Day Off'."
        href={latestDiscoveryLink}
        target="_blank"
        >{latestDiscovery}
      </a>.
    </span>
  </Bullet>
</Bullets>
