---
import ResumeSection from "./ResumeSection.astro";
import Resume3Cols from "./Resume3Cols.astro";
---

<ResumeSection sectionID="education" sectionName="education">
  <Resume3Cols
    column1="MBA"
    column2="Finance & Strategic Management"
    column3="Villanova University"
  />
  <Resume3Cols
    column1="BA"
    column2="English Literature"
    column3="Villanova University"
  />
</ResumeSection>

<!-- <section id="education">
  <h2>EDUCATION</h2>
  <div class="degrees">
   </div>
</section> -->
