---
import ResumeSection from "./ResumeSection.astro";
---

<ResumeSection sectionID="objective" sectionName="objective">
  <p>
    Seeking a team-based, front-end developer role focused on delighting users,
    building useful things, & continuous learning.
  </p>
</ResumeSection>
